.version.contact_me /* version checker */
{
	color: #000018;
	background-color: #370758;
}

#page
{
	z-index: 1;
	width: 622px;
	min-height: 499px;
	padding-left: 169px;
	padding-right: 169px;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 27px;
}

#u153-4
{
	z-index: 33;
	margin-right: -10000px;
	margin-top: 20px;
}

#u154-4
{
	z-index: 37;
	margin-right: -10000px;
	margin-top: 58px;
}

#u340
{
	z-index: 45;
	width: 77px;
	height: 75px;
	margin-right: -10000px;
	left: 491px;
}

#menuu116
{
	z-index: 2;
	width: 622px;
	margin-top: 5px;
}

#u124
{
	width: 122px;
	min-height: 34px;
	margin-right: -10000px;
}

#u125
{
	width: 122px;
	padding-bottom: 17px;
}

#u125:hover
{
	margin: 0px;
}

#u125:active
{
	margin: 0px;
}

#u126-4_clip
{
	width: 122px;
	height: 17px;
}

#u161
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 124px;
}

#u162
{
	width: 123px;
	padding-bottom: 17px;
}

#u125.MuseMenuActive,#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u174
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 249px;
}

#u175
{
	width: 123px;
	padding-bottom: 17px;
}

#u162.MuseMenuActive,#u175:hover
{
	margin: 0px;
}

#u175:active
{
	margin: 0px;
}

#u200
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 374px;
}

#u203
{
	width: 123px;
	padding-bottom: 17px;
}

#u175.MuseMenuActive,#u203:hover
{
	margin: 0px;
}

#u203:active
{
	margin: 0px;
}

#u226
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 499px;
}

#u229
{
	width: 123px;
	padding-bottom: 17px;
}

#u203.MuseMenuActive,#u229:hover
{
	margin: 0px;
}

#u229:active
{
	margin: 0px;
}

#u229.MuseMenuActive
{
	margin: 0px;
}

#u164-4_clip,#u177-4_clip,#u204-4_clip,#u232-4_clip
{
	width: 123px;
	height: 17px;
}

#u126-4,#u164-4,#u177-4,#u204-4,#u232-4
{
	margin-right: -10000px;
	top: 8px;
}

#pu233-3
{
	width: 0.01px;
	margin-top: 5px;
}

#u233-3
{
	z-index: 41;
	width: 568px;
	height: 267px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 27px;
}

#u235
{
	z-index: 44;
	width: 621px;
	height: 467px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#widgetu278
{
	z-index: 46;
	width: 0.01px;
	height: 378px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#widgetu285
{
	z-index: 47;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu285.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u287-4
{
	z-index: 48;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u288-4
{
	z-index: 52;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

.html,#widgetu285.non-empty-st #u288-4
{
	background-color: #FFFFFF;
}

#widgetu285:hover #u288-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu285.focus-st #u288-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu285.non-empty-st #u288-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu285:hover #u288-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu285.focus-st #u288-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu289
{
	z-index: 56;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu289.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 59px -10000px 0px 0px;
}

#u292-4
{
	z-index: 57;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#widgetu289.fld-err-st #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u290-4
{
	z-index: 61;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu289.non-empty-st #u290-4
{
	background-color: #FFFFFF;
}

#widgetu289:hover #u290-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu289.focus-st #u290-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu285.fld-err-st #u288-4,#widgetu289.fld-err-st #u290-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu289.non-empty-st #u290-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu289:hover #u290-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu289.focus-st #u290-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu285_input,#widgetu285_prompt,#widgetu289_input,#widgetu289_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	padding: 6px;
}

#u293-4
{
	z-index: 65;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu278.frm-sub-st #u293-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u283-4
{
	z-index: 69;
	width: 200px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu278.frm-subm-err-st #u283-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu278.frm-subm-err-st #u283-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u294-4
{
	z-index: 73;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu278.frm-sub-st #u293-4,#widgetu278.frm-subm-ok-st #u294-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu278.frm-subm-ok-st #u294-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u284-17
{
	z-index: 77;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	background: url("../images/u284-17.png") no-repeat 0px 0px;
}

#u284-17:hover
{
	background: url("../images/u284-17-r.png") no-repeat 0px 0px;
}

#u284-17:active
{
	background: url("../images/u284-17-m.png") no-repeat 0px 0px;
}

#widgetu278.frm-sub-st #u284-17
{
	background: url("../images/u284-17-fs.png") no-repeat 0px 0px;
}

#widgetu279
{
	z-index: 94;
	width: 340px;
	height: 198px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu279.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u281-4
{
	z-index: 95;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#widgetu285.fld-err-st #u287-4,#widgetu279.fld-err-st #u281-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu285.fld-err-st #u287-4 p,#widgetu285.fld-err-st #u287-4 span,#widgetu289.fld-err-st #u292-4 p,#widgetu289.fld-err-st #u292-4 span,#widgetu279.fld-err-st #u281-4 p,#widgetu279.fld-err-st #u281-4 span
{
	color: #D7244C;
}

#u282-4
{
	z-index: 99;
	width: 328px;
	min-height: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu279.non-empty-st #u282-4
{
	background-color: #FFFFFF;
}

#widgetu279:hover #u282-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 166px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu279.focus-st #u282-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 166px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu279.fld-err-st #u282-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 166px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu279.non-empty-st #u282-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu279:hover #u282-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu279.focus-st #u282-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu285.fld-err-st #u288-4 *,#widgetu289.fld-err-st #u290-4 *,#widgetu279.fld-err-st #u282-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu279_input,#widgetu279_prompt
{
	width: 328px;
	min-height: 166px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	padding: 6px;
}

#widgetu285.focus-st #widgetu285_prompt,#widgetu289.focus-st #widgetu289_prompt,#widgetu279.focus-st #widgetu279_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu285:hover #widgetu285_input,#widgetu285.focus-st #widgetu285_input,#widgetu285.fld-err-st #widgetu285_input,#widgetu285:hover #widgetu285_prompt,#widgetu285.fld-err-st #widgetu285_prompt,#widgetu289:hover #widgetu289_input,#widgetu289.focus-st #widgetu289_input,#widgetu289.fld-err-st #widgetu289_input,#widgetu289:hover #widgetu289_prompt,#widgetu289.fld-err-st #widgetu289_prompt,#widgetu279:hover #widgetu279_input,#widgetu279.focus-st #widgetu279_input,#widgetu279.fld-err-st #widgetu279_input,#widgetu279:hover #widgetu279_prompt,#widgetu279.fld-err-st #widgetu279_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu285.non-empty-st #widgetu285_prompt,#widgetu289.non-empty-st #widgetu289_prompt,#widgetu279.non-empty-st #widgetu279_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

