.version.index /* version checker */
{
	color: #00000A;
	background-color: #22CA24;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 700px;
	min-height: 482px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 130px 104px;
}

#u153-4
{
	z-index: 27;
	margin-left: 66px;
}

#u154-4
{
	z-index: 31;
	margin-left: 66px;
	top: -5px;
	margin-bottom: -5px;
}

#menuu116
{
	z-index: 2;
	width: 700px;
	margin-top: 5px;
}

#u124
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u125
{
	width: 173px;
	padding-bottom: 15px;
}

#u125:hover
{
	margin: 0px;
}

#u125:active
{
	margin: 0px;
}

#u161
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u162
{
	width: 173px;
	padding-bottom: 15px;
}

#u125.MuseMenuActive,#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u126-4_clip,#u164-4_clip
{
	width: 173px;
	height: 19px;
}

#u1910
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 350px;
}

#u1913
{
	width: 174px;
	padding-bottom: 15px;
}

#u162.MuseMenuActive,#u1913:hover
{
	margin: 0px;
}

#u1913:active
{
	margin: 0px;
}

#u200
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 526px;
}

#u203
{
	width: 174px;
	padding-bottom: 15px;
}

#u1913.MuseMenuActive,#u203:hover
{
	margin: 0px;
}

#u203:active
{
	margin: 0px;
}

#u203.MuseMenuActive
{
	margin: 0px;
}

#u1916-4_clip,#u204-4_clip
{
	width: 174px;
	height: 19px;
}

#u126-4,#u164-4,#u1916-4,#u204-4
{
	margin-right: -10000px;
	top: 7px;
}

#pu233-3
{
	width: 0.01px;
	margin-top: 5px;
}

#u233-3
{
	z-index: 35;
	width: 568px;
	height: 267px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 66px;
}

#u235
{
	z-index: 38;
	width: 622px;
	margin-right: -10000px;
	left: 39px;
}

#u234-30
{
	z-index: 39;
	display: block;
	vertical-align: top;
	margin-bottom: -42px;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u2209
{
	z-index: 69;
	width: 77px;
	height: 75px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #C7B299 url("../images/screen%20shot%202015-07-17%20at%2035235%20am.jpg") no-repeat left top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

