.version.on_line_maps /* version checker */
{
	color: #0000F4;
	background-color: #59B548;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 732px;
	min-height: 418px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 98px 62px 130px;
}

#u153-4
{
	z-index: 27;
	margin-left: 66px;
}

#u154-5
{
	z-index: 31;
	margin-left: 66px;
	top: -5px;
	margin-bottom: -5px;
}

#menuu116
{
	z-index: 2;
	width: 700px;
	margin-top: 4px;
}

#u124
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u125
{
	width: 173px;
	padding-bottom: 15px;
}

#u125:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u125:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u126-4_clip
{
	width: 173px;
	height: 19px;
}

#u161
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u162
{
	width: 173px;
	padding-bottom: 14px;
}

#u125.MuseMenuActive,#u162:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u162:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u162.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u164-4_clip
{
	width: 173px;
	height: 20px;
}

#u1910
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 350px;
}

#u1913
{
	width: 174px;
	padding-bottom: 14px;
}

#u1913:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u1913:active
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u1916-4_clip
{
	width: 174px;
	height: 20px;
}

#u200
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 526px;
}

#u203
{
	width: 174px;
	padding-bottom: 15px;
}

#u1913.MuseMenuActive,#u203:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u203:active
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u203.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u204-4_clip
{
	width: 174px;
	height: 19px;
}

#u126-4,#u164-4,#u1916-4,#u204-4
{
	margin-right: -10000px;
	top: 7px;
}

#pu233-3
{
	width: 0.01px;
	margin-top: 3px;
}

#u233-3
{
	z-index: 36;
	width: 568px;
	height: 267px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 66px;
}

#u235
{
	z-index: 39;
	width: 622px;
	padding-bottom: 309px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u2549
{
	z-index: 40;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 14px;
}

#u1905-3
{
	z-index: 41;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 727px;
}

#accordionu1844
{
	z-index: 44;
	width: 701px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1885
{
	z-index: 45;
	width: 701px;
	background-color: transparent;
	position: relative;
}

#u1904
{
	z-index: 47;
	height: 40px;
	width: 701px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1904.png") no-repeat 0px 0px;
}

#u1904:hover
{
	background: url("../images/u1904-r.png") no-repeat 0px 0px;
}

#u1904:active
{
	background: url("../images/u1904-m.png") no-repeat 0px 0px;
}

#u1904.AccordionPanelTabOpen
{
	background: url("../images/u1904-a.png") no-repeat 0px 0px;
}

#u1886
{
	z-index: 51;
	width: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1886_position_content
{
	padding-top: 21px;
	padding-bottom: 3px;
}

#u1925
{
	z-index: 52;
	width: 700px;
	min-height: 398px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#u2540-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u1917
{
	z-index: 57;
	width: 701px;
	background-color: transparent;
	position: relative;
}

#u1919
{
	z-index: 59;
	height: 38px;
	width: 701px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1919.png") no-repeat 0px 0px;
}

#u1919:hover
{
	background: url("../images/u1919-r.png") no-repeat 0px 0px;
}

#u1919:active
{
	background: url("../images/u1919-m.png") no-repeat 0px 0px;
}

#u1919.AccordionPanelTabOpen
{
	background: url("../images/u1919-a.png") no-repeat 0px 0px;
}

#u1918
{
	z-index: 63;
	width: 699px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1918_position_content
{
	padding-top: 9px;
}

#u2674
{
	z-index: 71;
	width: 700px;
	min-height: 398px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#u2541-6
{
	z-index: 64;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u2547
{
	z-index: 70;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 499px;
	margin-top: 104px;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

