.version.r_sum_ /* version checker */
{
	color: #000011;
	background-color: #ABAE7C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 710px;
	min-height: 480px;
	padding-left: 130px;
	padding-top: 20px;
	padding-right: 120px;
	margin-left: auto;
	margin-right: auto;
}

#u153-4
{
	z-index: 27;
	margin-left: 66px;
}

#u154-4
{
	z-index: 31;
	margin-left: 66px;
	top: -5px;
	margin-bottom: -5px;
}

#menuu116
{
	z-index: 2;
	width: 700px;
	margin-top: 5px;
}

#u124
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u125
{
	width: 173px;
	padding-bottom: 15px;
}

#u125:hover
{
	margin: 0px;
}

#u125:active
{
	margin: 0px;
}

#u161
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u162
{
	width: 173px;
	padding-bottom: 15px;
}

#u125.MuseMenuActive,#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u126-4_clip,#u164-4_clip
{
	width: 173px;
	height: 19px;
}

#u1910
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 350px;
}

#u1913
{
	width: 174px;
	padding-bottom: 15px;
}

#u162.MuseMenuActive,#u1913:hover
{
	margin: 0px;
}

#u1913:active
{
	margin: 0px;
}

#u200
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 526px;
}

#u203
{
	width: 174px;
	padding-bottom: 15px;
}

#u1913.MuseMenuActive,#u203:hover
{
	margin: 0px;
}

#u203:active
{
	margin: 0px;
}

#u203.MuseMenuActive
{
	margin: 0px;
}

#u1916-4_clip,#u204-4_clip
{
	width: 174px;
	height: 19px;
}

#u126-4,#u164-4,#u1916-4,#u204-4
{
	margin-right: -10000px;
	top: 7px;
}

#pu233-3
{
	width: 0.01px;
	margin-top: 5px;
}

#u233-3
{
	z-index: 35;
	width: 568px;
	height: 267px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 66px;
}

#u235
{
	z-index: 38;
	width: 622px;
	padding-bottom: 307px;
	margin-right: -10000px;
	left: 39px;
}

#u2549
{
	z-index: 39;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 14px;
}

#accordionu317
{
	z-index: 40;
	width: 710px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u332
{
	z-index: 41;
	width: 710px;
	padding-bottom: 0px;
	position: relative;
}

#u333
{
	z-index: 43;
	height: 38px;
	width: 710px;
	vertical-align: top;
	position: relative;
	background: url("../images/u333.png") no-repeat 0px 0px;
}

#u333:hover
{
	background: url("../images/u333-r.png") no-repeat 0px 0px;
}

#u333:active
{
	background: url("../images/u333-m.png") no-repeat 0px 0px;
}

#u333.AccordionPanelTabOpen
{
	background: url("../images/u333-a.png") no-repeat 0px 0px;
}

#u334
{
	z-index: 47;
	width: 690px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 8px;
	padding-top: 3px;
	padding-right: 10px;
	position: relative;
}

#u335-6
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2542-5
{
	z-index: 54;
	width: 140px;
	min-height: 19px;
	text-align: right;
	margin-left: 550px;
	margin-top: 4px;
	position: relative;
}

#u324
{
	z-index: 59;
	width: 710px;
	position: relative;
}

#u325
{
	z-index: 61;
	height: 38px;
	width: 710px;
	vertical-align: top;
	position: relative;
	background: url("../images/u325.png") no-repeat 0px 0px;
}

#u325:hover
{
	background: url("../images/u325-r.png") no-repeat 0px 0px;
}

#u325:active
{
	background: url("../images/u325-m.png") no-repeat 0px 0px;
}

#u325.AccordionPanelTabOpen
{
	background: url("../images/u325-a.png") no-repeat 0px 0px;
}

#u326
{
	z-index: 65;
	width: 708px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	position: relative;
}

#u327-13
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u328
{
	z-index: 79;
	width: 710px;
	position: relative;
}

#u329
{
	z-index: 81;
	height: 38px;
	width: 710px;
	vertical-align: top;
	position: relative;
	background: url("../images/u329.png") no-repeat 0px 0px;
}

#u329:hover
{
	background: url("../images/u329-r.png") no-repeat 0px 0px;
}

#u329:active
{
	background: url("../images/u329-m.png") no-repeat 0px 0px;
}

#u329.AccordionPanelTabOpen
{
	background: url("../images/u329-a.png") no-repeat 0px 0px;
}

#u330
{
	z-index: 85;
	width: 708px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
}

#u331-26
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u321
{
	z-index: 112;
	width: 710px;
	position: relative;
}

#u322
{
	z-index: 114;
	height: 38px;
	width: 710px;
	vertical-align: top;
	position: relative;
	background: url("../images/u322.png") no-repeat 0px 0px;
}

#u322:hover
{
	background: url("../images/u322-r.png") no-repeat 0px 0px;
}

#u322:active
{
	background: url("../images/u322-m.png") no-repeat 0px 0px;
}

#u322.AccordionPanelTabOpen
{
	background: url("../images/u322-a.png") no-repeat 0px 0px;
}

#u323
{
	z-index: 118;
	width: 708px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u338-82
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 22px;
}

#u2548
{
	z-index: 201;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 822px;
	left: 498px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

