.version.static_maps /* version checker */
{
	color: #000009;
	background-color: #0B0ACC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.56908396946574px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 62px;
}

#u153-4
{
	z-index: 27;
	margin-left: 196px;
}

#pmenuu116
{
	width: 0.01px;
	margin-left: 68px;
	margin-top: -5px;
}

#menuu116
{
	z-index: 2;
	width: 700px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 62px;
}

#u124
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u125
{
	width: 173px;
	padding-bottom: 15px;
}

#u125:hover
{
	margin: 0px;
}

#u125:active
{
	margin: 0px;
}

#u161
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u162
{
	width: 173px;
	padding-bottom: 15px;
}

#u125.MuseMenuActive,#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u126-4_clip,#u164-4_clip
{
	width: 173px;
	height: 19px;
}

#u1910
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 350px;
}

#u1913
{
	width: 174px;
	padding-bottom: 15px;
}

#u162.MuseMenuActive,#u1913:hover
{
	margin: 0px;
}

#u1913:active
{
	margin: 0px;
}

#u200
{
	width: 174px;
	min-height: 34px;
	margin-right: -10000px;
	left: 526px;
}

#u203
{
	width: 174px;
	padding-bottom: 15px;
}

#u1913.MuseMenuActive,#u203:hover
{
	margin: 0px;
}

#u203:active
{
	margin: 0px;
}

#u203.MuseMenuActive
{
	margin: 0px;
}

#u1916-4_clip,#u204-4_clip
{
	width: 174px;
	height: 19px;
}

#u126-4,#u164-4,#u1916-4,#u204-4
{
	margin-right: -10000px;
	top: 7px;
}

#u154-4
{
	z-index: 31;
	margin-right: -10000px;
	left: 128px;
}

#u233-3
{
	z-index: 35;
	width: 568px;
	height: 267px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 128px;
}

#u235
{
	z-index: 38;
	width: 622px;
	padding-bottom: 307px;
	margin-right: -10000px;
	margin-top: 61px;
}

#u2549
{
	z-index: 39;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 115px;
}

#u366-3
{
	z-index: 40;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 789px;
}

#accordionu1585
{
	z-index: 43;
	width: 1488px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 32px;
}

#u1586
{
	z-index: 44;
	width: 1488px;
	padding-bottom: 0px;
	position: relative;
}

#u1589
{
	z-index: 46;
	height: 38px;
	width: 1488px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1589.png") no-repeat 0px 0px;
}

#u1589:hover
{
	background: url("../images/u1589-r.png") no-repeat 0px 0px;
}

#u1589:active
{
	background: url("../images/u1589-m.png") no-repeat 0px 0px;
}

#u1589.AccordionPanelTabOpen
{
	background: url("../images/u1589-a.png") no-repeat 0px 0px;
}

#u1587
{
	z-index: 50;
	width: 690px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 56px 756px 436px 40px;
}

#pamphletu1777
{
	z-index: 57;
	width: 0.01px;
	height: 935px;
	position: relative;
}

#u1784
{
	z-index: 58;
	width: 231px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1785
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #DEDEDE url("../images/jll-lu%20thumb-u1785-fr.png") no-repeat center center;
	background-size: cover;
}

#u1785:hover
{
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background: #DEDEDE url("../images/jll-lu%20thumb-u1785-fr.png") no-repeat center center;
	background-size: cover;
}

#u1785:active
{
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background: #DEDEDE url("../images/jll-lu%20thumb-u1785-fr.png") no-repeat center center;
	background-size: cover;
}

#u1786
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: 188px;
	background: #C4C4C4 url("../images/favelas%20thumb-u1786-fr.png") no-repeat center center;
	background-size: contain;
}

#u1786:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1786:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1787
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: 379px;
	background: #999999 url("../images/vgi%20thumb-u1787-fr.png") no-repeat center center;
	background-size: contain;
}

#u1787:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u2127
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: 571px;
	background: #999999 url("../images/spatial%20analysis%20imagery%20thumb-u2127-fr.png") no-repeat center center;
	background-size: contain;
}

#u1787:active,#u2127:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u2127:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u2129
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: 764px;
	background: #999999 url("../images/relative%20data%20thumb-u2129-fr.png") no-repeat center center;
	background-size: cover;
}

#u2129:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2129:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1780
{
	position: absolute;
	width: 995px;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 34px;
	left: 799px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1780:hover
{
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1780popup
{
	z-index: 64;
}

#u1783
{
	z-index: 65;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/jll-lu-u1783-fr.png") no-repeat center center;
	background-size: contain;
}

#u1781
{
	z-index: 66;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/favelas-u1781-fr.png") no-repeat center center;
	background-size: contain;
}

#u1782
{
	z-index: 67;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/vgi-u1782-fr.png") no-repeat center center;
	background-size: contain;
}

#u2128
{
	z-index: 68;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/spatial%20analysis%20imagery-u2128-fr.png") no-repeat center center;
	background-size: contain;
}

#u2130
{
	z-index: 69;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/relative%20data-u2130-fr.png") no-repeat center center;
	background-size: contain;
}

#u1588-6
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-left: 247px;
	top: -935px;
	margin-bottom: -154px;
	position: relative;
}

#u1791-5
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-left: 247px;
	top: -746px;
	margin-bottom: -153px;
	position: relative;
}

#u1792-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	margin-left: 247px;
	top: -555px;
	margin-bottom: -153px;
	position: relative;
}

#pu2520-8
{
	width: 0.01px;
	margin-left: 247px;
	margin-top: -363px;
}

#u2520-8
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u2550
{
	z-index: 91;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 382px;
}

#u2521-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-left: 247px;
	top: -170px;
	margin-bottom: -110px;
	position: relative;
}

#u1590
{
	z-index: 93;
	width: 1488px;
	position: relative;
}

#u1593
{
	z-index: 95;
	height: 38px;
	width: 1488px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1593.png") no-repeat 0px 0px;
}

#u1593:hover
{
	background: url("../images/u1593-r.png") no-repeat 0px 0px;
}

#u1593:active
{
	background: url("../images/u1593-m.png") no-repeat 0px 0px;
}

#u1593.AccordionPanelTabOpen
{
	background: url("../images/u1593-a.png") no-repeat 0px 0px;
}

#u1591
{
	z-index: 99;
	width: 1486px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1591_position_content
{
	margin-top: -1px;
	padding-bottom: 12px;
}

#pamphletu1793
{
	z-index: 104;
	width: 0.01px;
	height: 548px;
	margin-left: 10px;
	position: relative;
}

#u1800
{
	z-index: 105;
	width: 231px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1801
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background: #000000 url("../images/a333-panel%20thumb-u1801-fr.png") no-repeat center center;
	background-size: cover;
}

#u1801:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1801:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1802
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	top: 188px;
	background: #000000 url("../images/sketchup%20thumb-u1802-fr.png") no-repeat center center;
	background-size: contain;
}

#u1802:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1802:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1803
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: 377px;
	background: #000000 url("../images/lasalle%20thumb-u1803-fr.png") no-repeat left top;
	background-size: contain;
}

#u1803:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #000000;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1803:active
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #000000;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1796
{
	position: absolute;
	width: 995px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	padding-bottom: 44px;
	top: -160px;
	left: 702px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u1796popup
{
	z-index: 109;
}

#u1799
{
	z-index: 110;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/a333-panel-u1799-fr.png") no-repeat center center;
	background-size: contain;
}

#u1797
{
	z-index: 111;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/sketchup-u1797-fr.png") no-repeat center center;
	background-size: contain;
}

#u1798
{
	z-index: 112;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/lasalle-u1798-fr.png") no-repeat center center;
	background-size: contain;
}

#u1592-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-left: 258px;
	top: -548px;
	margin-bottom: -105px;
	position: relative;
}

#u1807-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 257px;
	top: -359px;
	margin-bottom: -153px;
	position: relative;
}

#u1808-12
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-left: 258px;
	top: -170px;
	margin-bottom: -153px;
	position: relative;
}

#u2459
{
	z-index: 129;
	width: 1488px;
	position: relative;
}

#u2472
{
	z-index: 131;
	height: 38px;
	width: 1488px;
	vertical-align: top;
	position: relative;
	background: url("../images/u2472.png") no-repeat 0px 0px;
}

#u2472:hover
{
	background: url("../images/u2472-r.png") no-repeat 0px 0px;
}

#u2472:active
{
	background: url("../images/u2472-m.png") no-repeat 0px 0px;
}

#u2472.AccordionPanelTabOpen
{
	background: url("../images/u2472-a.png") no-repeat 0px 0px;
}

#u2460
{
	z-index: 135;
	width: 1486px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
}

#pamphletu2473
{
	z-index: 136;
	width: 0.01px;
	height: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

#u2476
{
	z-index: 137;
	width: 231px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2477
{
	position: absolute;
	width: 229px;
	height: 169px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #000000 url("../images/poster%20thumb-u2477-fr.png") no-repeat center center;
	background-size: contain;
}

#u2477:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u2477:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	background-color: #000000;
	width: 229px;
	height: 169px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u2474
{
	position: absolute;
	width: 995px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	padding-bottom: 44px;
	top: -3px;
	left: 633px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u2474popup
{
	z-index: 139;
}

#u2475
{
	z-index: 140;
	width: 951px;
	height: 707px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/poster-u2475-fr.png") no-repeat center center;
	background-size: contain;
}

#u2483-6
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 257px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#u2545
{
	z-index: 147;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1067px;
	left: 672px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

